[user]
    name = Mustafa Adam
    email = aweel017@gmail.com

[color]
    ui = auto

[core]
    editor = nvim
    autocrlf = input

[pull]
    rebase = false

[init]
    defaultBranch = master

[advice]
    defaultBranch = false

[alias]
    uncommit = "!f() { git reset --soft \"HEAD~${1:-1}\"; }; f"
    count-branch = rev-list --count master..HEAD
